.contact-me-person-container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom:7rem;
    
}

.person-bg{
    width: 40%;
    height: 50%;
    margin-top: auto;
    background-color: cornflowerblue;
    box-shadow:  0 0 10px rgba(0,0,0,0.3);

}

.contact-me-person-container .person-img{
    display: flex;
    height: max-content;
    position: absolute;
    bottom: 0;
}