.meter {
  width: 100%;
  flex: 1;                 /* take available space */
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;     /* keeps gauge circular */
  overflow: hidden;
}


.meter svg {
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
}