.general-component , .Account-component , .Upgradeplans-component , .Privacy-component , .Help-component{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
}

.general-heading , .Account-heading , .Privacy-heading , .Upgradeplans-heading , .Help-heading{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;     /* vertical center */
    justify-content: center; /* 🔥 horizontal center */
    padding-left: 1rem ;
    border-bottom: 1px solid #0005;
    position: sticky;
    top : 0;
    background: #F0F0F0;
}

.general-heading h2 , .Account-heading h2 , .Privacy-heading h2 , .Upgradeplans-heading h2 , .Help-heading h2{
    width: 100%;
    margin: 0;
}

.menusettings-options-container{
    width: 100%;
    min-height:4rem;
    height: auto;
    border-bottom: 0.5px solid #0005;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menusettings-options-container .option-name , .menusettings-options-container .option-action-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem ;
}

.menusettings-options-container .option-name p{
    width: 100%;
    text-align: left;
}

.menusettings-options-container .option-action-container{
    width: 100%;
    padding-right: 1rem;
    justify-content: right;
}


.option-action-container .toggle{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.toggle .toggledata{
    display: flex;
    width: 100%;
    justify-content: right;
}

.toggle .togglebtn{
    width: 4rem;
    height: 2rem;
}

.menu-actionarrow{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-actionarrow:hover{
    background-color: #0005;
}

.help-faq-container{
    grid-template-columns: 1.9fr 0.1fr;

}
.menusettings-options-container .option-name .help-question{
    width: 100%;
    text-align: left;
    padding: 0.5rem 0.2rem;
    font-size:medium;
    font-weight: 700;
}

.accountLoader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .menusettings-options-container .option-name .help-answer{
} */