.stats-box {
    min-width: 20rem;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #fff;
    border-radius: 0.8rem;
    padding: 2rem 1rem;
    filter: drop-shadow(0 0 0.3rem black);
    justify-content: space-between;
}
.stats-box h1{
    margin: 0;
}
.stats-box p {
    margin: 0;
    padding: 0;
}
